* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #030119;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#preferences > #inputBox {
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#preferences > #inputBox > #colorBox {
  height: 40px;
}

#preferences > #inputBox > #colorBox > label {
  border-radius: 5px;
  display: inline-block;
  background-color: #006ed6;
  height: 40px;
  width: 40px;
}

#preferences > #inputBox > #colorBox > input {
  display: none;
}

#preferences > #inputBox > #colorInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: large;
  width: 110px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

#preferences > #inputBox > button {
  padding: 0px;
  border: none;
  font-size: 30px;
  background-color: transparent;
  color: #006ed6;
}

#configs,
#saturationConfig {
  margin-top: 30px;
  padding: 15px;
  background-color: #58036f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#configs .configChoosing {
  display: flex;
  /* justify-content: center; */
}

#configs .configChoosing > label {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  transition: 0.2s;
  cursor: pointer;
}

#configs .configChoosing > input {
  display: none;
}

input:checked + label {
  background-color: #cf23ff;
}

#saturationConfig {
  padding: 30px;
  gap: 20px;
}

#saturationConfig > label {
  color: #fff;
  font-size: large;
  font-weight: bold;
}

/* #saturationConfig > input {
  -webkit-appearance: none;
  background: transparent;
}

#saturationConfig > input::-webkit-slider-runnable-track {
  background-color: #d22fff;
  border-radius: 10px;
  height: 8px;
}

#saturationConfig > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #c51af4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -6px;
} */

#paletteBox {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
}

.color,
.linearBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#paletteBox > .color {
  background-color: #006ed6;
  height: 270px;
  width: calc(100% / 4);

  transition: all 0.2s ease;
  overflow: hidden;
}
#paletteBox > .linearBox {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: linear-gradient(90deg, #006ed6, #4092e0, #80b7eb, #bfdbf5);
  display: none;
}

#paletteBox > .color > input,
#paletteBox > .color > button,
#linearInput,
#copyLinearBtn {
  display: none;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 8px;
  width: 50%;
  font-weight: bold;
  text-align: center;
}

#paletteBox > .color > input {
  border: 1px solid #030119;
  padding: 8px 15px;
  font-size: medium;
}

#paletteBox > .color > button,
#copyLinearBtn {
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

#paletteBox > .color > button.copied,
#paletteBox > .color > button.copied:hover,
#copyLinearBtn.copied,
#copyLinearBtn.copied:hover {
  background-color: green;
  color: #fff;
  border-color: green;
}

#paletteBox > .color > button:hover {
  background-color: #ccc;
}

#paletteBox > .color:hover {
  width: 350px;
}

#paletteBox > .color:hover input,
#paletteBox > .color:hover button {
  display: block;
}

#paletteBox > .color:hover + .color:not(hover) {
  width: calc((100% - 300px) / 3);
}

#paletteBox > .linearBox:hover #linearInput,
#paletteBox > .linearBox:hover #copyLinearBtn {
  display: block;
}

#paletteBox > .dois {
  background-color: #4092e0;
}

#paletteBox > .tres {
  background-color: #80b7eb;
}

#paletteBox > .quatro {
  background-color: #bfdbf5;
}

#imgExemple {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#imgExemple > img {
  max-width: 290px;
  height: 190px;
  border-radius: 15px;
}

#secondExample {
  width: 350px;
}

#secondExample > img {
  width: 100%;
  border-radius: 15px;
  height: 190px;
}

#secondExample > img:last-child {
  margin-top: 30px;
  height: 267px;
}
