:root {
  --cor-primaria: #006ed6;
  --cor-secundaria: #4092e0;
  --cor-terciaria: #80b7eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #030119;

  display: flex;
  align-items: center;

  max-width: 100vw;
  height: 100vh;
  padding: 0px 11%;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#preferences > #inputBox {
  border: 2px solid var(--cor-primaria);
  border-radius: 15px;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#preferences > #inputBox > #colorBox > label {
  border-radius: 5px;
  display: inline-block;
  background-color: var(--cor-primaria);
  height: 40px;
  width: 40px;
}

#preferences > #inputBox > #colorBox > input {
  display: none;
}

#preferences > #inputBox > #colorInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--cor-primaria);
  font-size: large;
  width: 110px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

#preferences > #inputBox > #colorInput:focus #preferences > #inputBox {
  color: var(--cor-secundaria);
}

#preferences > #inputBox > button {
  padding: 0px;
  border: none;
  font-size: 30px;
  background-color: transparent;
  color: var(--cor-primaria);
  cursor: pointer;
  transition: 0.2s;
}

#preferences > #inputBox > button:hover {
  color: var(--cor-secundaria);
}

#configs {
  margin-top: 30px;
  padding: 0px;
  background-color: var(--cor-primaria);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#configs .configChoosing {
  display: flex;
}

#configs .configChoosing > label {
  width: 100%;
  padding: 22px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  transition: 0.2s;
  cursor: pointer;
}

#configs .configChoosing > input {
  display: none;
}

input:checked + label {
  background-color: var(--cor-secundaria);
}

#paletteBox {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.color,
.linearBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#paletteBox > .color {
  background-color: #006ed6;
  height: 270px;
  width: calc(100% / 4);

  transition: all 0.2s ease;
  overflow: hidden;
}

#paletteBox > .linearBox {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: linear-gradient(90deg, #006ed6, #4092e0, #80b7eb, #bfdbf5);
  display: none;
}

#paletteBox > .color > input,
#paletteBox > .color > button,
#linearInput,
#copyLinearBtn {
  display: none;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 8px;
  width: 50%;
  font-weight: bold;
  text-align: center;
}

#paletteBox > .color > input {
  border: 2px solid var(--cor-primaria);
  padding: 8px 15px;
  font-size: medium;
}

#paletteBox > .color > button,
#copyLinearBtn {
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

#paletteBox > .color > button.copied,
#paletteBox > .color > button.copied:hover,
#copyLinearBtn.copied,
#copyLinearBtn.copied:hover {
  background-color: green;
  color: #fff;
  border-color: green;
}

#paletteBox > .color:hover {
  width: 350px;
}

#paletteBox > .color:hover + .color:not(hover) {
  width: calc((100% - 350px) / 5);
}

#paletteBox > .color:hover input,
#paletteBox > .color:hover button {
  display: block;
}

#paletteBox > .linearBox:hover #linearInput,
#paletteBox > .linearBox:hover #copyLinearBtn {
  display: block;
}

#paletteBox > .dois {
  background-color: #2b86dd;
}

#paletteBox > .tres {
  background-color: #559ee4;
}

#paletteBox > .quatro {
  background-color: #80b7eb;
}

#paletteBox > .cinco {
  background-color: #aacff1;
}

#paletteBox > .seis {
  background-color: #d5e7f8;
}

#imgExemple {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  margin-top: 30px;
}

canvas {
  width: 50%;
  height: 190px;
  border-radius: 15px;
}

#secondExample > canvas:last-child {
  height: 267px;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
    padding: 40px 20px;
  }

  .container {
    flex-direction: column;
    gap: 30px;
  }

  section {
    min-width: 100%;
  }

  #preferences > #inputBox {
    justify-content: space-between;
  }

  #paletteBox > .color {
    padding: 0px 0px;
  }

  #paletteBox > .color > input,
  #paletteBox > .color > button {
    width: 90%;
  }

  #paletteBox > .color:hover {
    min-width: 100px;
  }

  #paletteBox > .color:hover + .color:not(hover) {
    width: calc((100% - 350px) / 5);
  }

  #imgExemple {
    display: flex;
    flex-direction: column;
  }

  canvas {
    width: 100%;
  }

  canvas:last-child {
    margin-bottom: 40px;
  }
}
